<a href="https://colab.research.google.com/github/SUA1038/Python25Study/blob/master/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 숫자형
# Number타입 : 정수, 실수, 8진수, 16진수, 2진수 등을 표현한다.

a = 123
print(a)

123

In [3]:
a = 123
a =  -178
a = 0

print(a)

-178

In [6]:
a = 1.2
a = -3.45

print(a)

-3.45

In [7]:
a = 4.24E10
a = 4.24e-10

print(a)

4.24e-10

In [8]:
a = 0x8ff
b = 0xABC
print(b)

2748

In [11]:
# 사칙 연산
a = 3
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

In [12]:
# x의 y제곱을 나타내는 ** 연산자
a = 3
b = 4

print(a ** b)

81

In [13]:
# 나눗셈 후 나머지를 반환하는 % 연산자

print(7 % 3)
print(3 % 7)

1
3

In [14]:
# 나눗셈 후 몫을 반환하는 // 연산자

print(7/4)

1.75

In [15]:
print( 7 // 4)
# 1.75에서 몫에 해당하는 정숫값 1만 반환한다.

1

In [27]:
# 복합 연산자

a = a + 1 # a + 1 로 계산된 값을 다시 a에 대입한다.
print(a) # a의 값이 1만큼 증가한다.
# a = a + 1과 같은 표현식은 값을 증가시키기 위해 자주 사용.

# 그러나 a = a + 1보다 아래 표현식을 자주 쓴다.
a += 1

print(a)

13
14

In [24]:
"Hello World" # 큰따옴표로 양쪽 둘러싸기

'Pyton is fun'

In [ ]:
'Python is fun' # 작은따옴표로 양쪽 둘러싸기

In [25]:
"""Life is too short, tou need python"""
# 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기

'Life is too short, tou need python'

In [28]:
'''Life is too short, You need pyuthon'''
# 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기

'Life is too short, You need pyuthon'

In [31]:
# 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

food = "Python's fravorite food is perl"
# 큰따옴표가 아닌 작은따옴표를 사용했으면 python을 글자로 인식하고 오류 발생

print(food)

Python's fravorite food is perl

In [35]:
# 문자열에 큰따옴표 포함하기

say = '"Python is very easy." he says.' # 문자열을 작은따옴표로 둘러싸면 된다.
print(say)

"Python is very easy." he says.

In [37]:
# 역슬래시를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함하기
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

print(food)
print(say)

# 역슬래시를 사용 : 작은따옴표나 큰따옴표 앞에 삽입하면 기호의 의미가 아님을 뜻함

Python's favorite food is perl
"Python is very easy." he says.

In [41]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때

# \n 을 삽입하여 줄바꿈하기
multiline = "Life is too short\nYou need python"
print(multiline)

# 연속된 작은따옴표 3개 또는 큰따옴표 3개 사용하기
multiline2 = '''
      Life is too short
      You need python
      '''
print(multiline2)

multiline3 = """
      Life is too short
      You need python
      """
print(multiline3)

# 문자열이 여러 줄인 경우, 이스케이프 코드를 쓰는 것보다 따옴표 3개를 사용하는 것이 훨씬 깔끔하다.

Life is too short
You need python

      Life is too short
      You need python


      Life is too short
      You need python

In [42]:
# 문자열을 더해서 연결하기
head = "Python"
tail = " is fun!"

print(head + tail)

Python is fun!

In [43]:
# 문자열 곱하기
a = "python"

print(a * 2)

pythonpython

In [44]:
# multistring.py

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [45]:
# 문자열 길이 구하기

a = "Life is too short"
len(a)

17

In [46]:
# 문자열 인덱싱

a = "Life is too short, You need Python"
a[3]

'e'

In [48]:
# 문자열 인덱싱 활용하기

a = "Life is too short, You need Python"
print(a[0])
print(a[12])
print(a[-1])

L
s
n

In [52]:
# 문자열 슬라이싱

a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [53]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

In [55]:
# 슬라이싱으로 문자열 나누기

a = "20230331Rainy"
date = a[:8]
weather = a[8:]
date # : '20230331'

weather # : ' Rainy '

'Rainy'

In [56]:
# 문자열 포매팅

# 숫자 바로 대입
"I eat %d apples." % 3

'I eat 3 apples.'

In [57]:
# 문자열 바로 대입
"I eat %s apples." % "five"

'I eat five apples.'

In [59]:
# 숫자 값을 나타내는 변수로 대입

number = 3
"I eat %d apples" % number

'I eat 3 apples'

In [60]:
# 2개 이상의 값 넣기

number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [61]:
# 포맷 코드와 숫자 함께 사용하기

# 정렬과 공백
"%10s" % "hi"

'        hi'

In [63]:
"%-10sjane." % 'hi'

'hi        jane.'

In [64]:
# 오른쪽 정렬

"{0:>10}".format("hi")

'        hi'

In [65]:
# 왼쪽 정렬

"{0:<10}".format("hi")

'hi        '

In [66]:
# 가운데 정렬

"{0:^10}".format("hi")

'    hi    '

In [67]:
# 공백 채우기

"{0:=^10}".format("hi")

'====hi===='

In [68]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [69]:
# 소수점 표현하기

y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'