<a href="https://colab.research.google.com/github/SUA1038/Python25Study/blob/master/%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 파이썬 함수의 구조

# def 함수_이름(매개변수):
#   수행할_문장1
#   수행할_문장2
#   ...

7

In [ ]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [ ]:
# 매개변수 : 함수에 입력으로 전달된 값을 받는 변수
# 인수 : 함수를 호출할 때 전달하는 입력값

def add(a, b):  # a, b : 매개변수
  return a+b

print(add(3, 4))  # 3, 4 : 인수

7

In [ ]:
a = add(3, 4)
print(a)

# 반환값을_받을_변수 = 함수_이름(입력_인수1, 입력_인수2, ...)

7

In [ ]:
# 입력값이 없는 함수

def say():
  return 'Hi'

In [ ]:
# 반환값이 없는 함수

def add(a, b):
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [ ]:
# 매개변수를 지정하여 호출하기

def sub(a, b):
  return a - b

result = sub(a=7, b=3)
print(result)

# 매개변수를 지정하면 순서에 상관없이 사용할 수 있다는 장점이 있다.
# reuslt = sub(b=5, a=3)

4

In [ ]:
# 여러 개의 입력값을 받는 함수 만들기

def add_many(*args):
  result = 0
  for i in args:
    result = result + i # *args에 입력받은 모든 값을 더한다.
  return result

result = add_many(1, 2, 3)
print(result)

result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

6
55

In [ ]:
def add_mul(choice, *args):
  if choice == "add":   # 매개변수 choice에 "add"를 입력받았을 때
    result = 0
    for i in args:
      result = result + i
  elif choice == "mul":   # 매개변수 choice에 "mul"을 입력받았을 때

    result = 1
    for i in args:
      result = result * i

    return result

result = add_mul('add', 1, 2, 3, 4, 5)
print(result)

result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

None
120

In [ ]:
# 키워드 매개변수, kwargs
# 키워드 매개변수를 사용할 때는 매개변수 앞에 **을 붙인다.

def print_kwargs(**kwargs):
  print(kwargs)

print_kwargs(a=1)
# {'a': 1}

print_kwargs(name='foo', age=3)
# {'name': 'foo', 'age': 3}

print_kwargs(name='홍길동', age=25, city='서울', job='개발자')
# {'name': '홍길동', 'age': 25, 'city': '서울', 'job': '개발자'}

{'a': 1}
{'name': 'foo', 'age': 3}
{'name': '홍길동', 'age': 25, 'city': '서울', 'job': '개발자'}

In [ ]:
def create_profile(**info):
  print("=== 프로필 정보 ===")
  for key, value in info.items():
    print(f"{key}: {value}")

create_profile(이름='김철수', 나이=30, 직업='프로그래머', 취미='독서')

=== 프로필 정보 ===
이름: 김철수
나이: 30
직업: 프로그래머
취미: 독서

In [ ]:
def mixed_function(name, *args, **kwargs):
  print(f"이름: {name}")
  print(f"추가 인수들: {args}")
  print(f"키워드 인수들: {kwargs}")

mixed_function('홍길동', 1, 2, 3, age=25, city='서울')

이름: 홍길동
추가 인수들: (1, 2, 3)
키워드 인수들: {'age': 25, 'city': '서울'}

In [ ]:
def add_and_mul(a, b):
  return a+b, a*b

result = add_and_mul(3, 4)

In [ ]:
def say_nick(nick):
  if nick == "바보":
    return
  print("나의 별명은 %s 입니다." % nick)

say_nick('야호')
say_nick('바보')

나의 별명은 야호 입니다.

In [ ]:
# 매개변수에 초깃값 미리 설정하기

def say_myself(name, age, man=True): # age와 man_True의 순서가 바뀌면 오류 발생 주의
  print("나의 이름은 %s 입니다." % name)
  print("나이는 %d 살입니다." % age)

  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27 살입니다.
남자입니다.

In [ ]:
a = 1
def vartest(a):
  a = a + 1

vartest(a)
print(a)
# 함수 안에 있는 a는 사본이기 때문에 밖에 있는 진짜 a는 1의 값이 들어간다.

1

In [ ]:
def vartest(a):
  a = a + 1

  vartest(3)
  print(a) # a 변수는 어디에도 선언되지 않았기 때문에 값이 나오지 않는다.
  # -> 함수 안에 있는 건 선언된 값이 아니다

In [ ]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법

# 1. return 사용하기
a = 1
def vartest(a):
  a = a + 1
  return a

a = vartest(a)
print(a)

# 2. global 명령어 사용하기 (비추천)
a = 1
def vartest():
  global a
  a = a + 1

vartest()
print(a)